* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #fff;
  color: #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #222;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #f39c12;
}
